* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --text-color: #0f2a1b !important;
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1.6rem;
    background: #f8fafc;
    height: 100vh;
    display: grid;
    place-content: center;
    color: var(--text-color);
}

main {
    padding: 6.4rem 8rem;
    background: #ffffff;
    box-shadow: 0rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
    border-radius: 1.6rem;
    display: grid;
    gap: 6.4rem;
}

section h2 {
    font-size: 2rem;
    line-height: 2.4rem;
}

.conversor .wrapper {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.money-wrapper {
    background-color: white;
    outline: 0.1rem solid #96b894;
    width: 27rem;
    padding: 1.6rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;
}

.money-wrapper:hover,
.money-wrapper:has(:focus) {
    border: 0.25rem solid #3ead3e;
}


/*Amount */

.amount {
    border: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
    width: 50%;
}

.amount:focus {
    outline: 0;
}


/*Dropdwn*/

.dropdown {
    --bg-hover: #ede9fe;
    width: 13rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9feec;
    height: 5.6rem;
    overflow: hidden;
}

.dropdown:hover {
    height: fit-content;
    overflow: initial;
}

.selected:hover {
    background-color: #e9fef3;
    display: flex;
    gap: 0.8rem;
    border-radius: 0 0.8rem 0.8rem 0;
}

.selected {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0 0.8rem 0.8rem 0;
    padding: 1.6rem;
    cursor: pointer;
}

.selected:before {
    content: "";
    height: 2.4rem;
    width: 0.2rem;
    background-color: #94b895;
    position: absolute;
    left: 0;
}

.selected:after {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../assets/chevron-down.svg) no-repeat;
}

.fi.fis {
    font-size: 2.4rem;
    border-radius: 50%;
}


/*UL*/

ul {
    list-style: none;
    background-color: #94b895;
    box-shadow: 0rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
    border-radius: 8px;
    padding: 0;
    width: 16rem;
    max-height: 17rem;
    margin-top: 0.8rem;
}

li {
    padding: 1.2rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.cambio .wrapper {
    margin-top: 2.4rem;
}